<% FOREACH entry IN entries %>
  <h2><% entry.title %></h2>
  <div class="entry">
    <ul>
      <li><a href="<% entry.link %>">View Blog Post</a></li>
    </ul>
    <div class="images">
      <% FOREACH image IN entry.images %>
        <img src="<% image.src %>" height="<% image.height %>" width="<% image.width %>" border="0" />
      <% END %>
    </div>
  </div>
<% END %>

<h2>Vote for your favorites!</h2>
  <div class="entry votepoll">
    <h2>Voting rules</h2>
    <div class="rules">
      <% IF c.user_exists %><p>Log in</p><% END %>
      <p>FIXME:</p>
    </div>

<% IF c.user_exists %>
    <h2>Entries</h2>
    <form method="post" action="<% c.uri_for('/vote/') %>" id="vote">
      <% FOREACH entry IN entries %>
      <% SET id = loop.index %>
      <div class="vote-entry">
        <input type="hidden" name="votes.<% id %>.title" value="<% entry.title %>" />
        <input type="hidden" name="votes.<% id %>.name" value="<% entry.link %>" />
        <input type="text" id="vote-entry-<% id %>" name="votes.<% id %>.score" value="" />
        <label for="vote-entry-<% id %>"><% entry.title %></label>
      </div>
      <% END %>

      <input type="submit" value="Vote" />
    </form>
<% END %>
  </div>
