<h2>Vote for your favorites!</h2>
<div class="help">

  <p>This is the voting system for the MetaCPAN Logo Contest. To find out more
  about the contest, visit it's <a href="http://contest.metacpan.org">main
  page</a>. All Logo submissions we received are summariesed on this page, but
  also available with more details on our
  <a href="http://entries.contest.metacpan.org/">Logo Entries Blog</a>.</p>

  <p>If you're here to cast your vote, please read on.</p>

  <h2>How to Vote</h2>
  <div class="rules">
    <ul>
      <li>
        Be a MetaCPAN contributor before $cutoff_date
        <% IF c.user_exists %><span class="mark">&#x2713;</span><% END %>
      </li>
      <li>
        <a href="<% c.uri_for('/login') %>">Log in</a>
        <% IF c.user_exists %><span class="mark">&#x2713;</span><% END %>
      </li>
      <li>xxx</li>
    </ul>
  </div>

  <h2>Voting Rules</h2>
  <div class="rules">
    <p>TODO</p>
  </div>

</div>

<% FOREACH entry IN entries %>
<% SET id = loop.index %>
  <h2>
    <input type="text" class="title-vote" id="not-vote-entry-<% id %>"
           name="not-votes.<% id %>.score" value="" />
    <% entry.title %>
    <div style="clear: both"></div>
  </h2>
  <div class="entry">
    <ul>
      <li><a href="<% entry.link %>">View Blog Post</a></li>
    </ul>
    <div class="images">
      <% FOREACH image IN entry.images %>
        <img src="<% image.src %>" height="<% image.height %>" width="<% image.width %>" border="0" />
      <% END %>
    </div>
  </div>
<% END %>

<h2>Cast your vote!</h2>
  <div class="entry votepoll">

<% IF c.user_exists %>
    <form method="post" action="<% c.uri_for('/vote/') %>" id="vote">
      <% FOREACH entry IN entries %>
      <% SET id = loop.index %>
      <div class="vote-entry">
        <input type="hidden" name="votes.<% id %>.title" value="<% entry.title %>" />
        <input type="hidden" name="votes.<% id %>.name" value="<% entry.link %>" />
        <input type="text" id="vote-entry-<% id %>" name="votes.<% id %>.score" value="" />
        <label for="vote-entry-<% id %>"><% entry.title %></label>
      </div>
      <% END %>

      <input type="submit" value="Vote" />
    </form>
<% END %>
  </div>
