<h2>Vote for your favorites!</h2>
<div class="help">

  <p>This is the voting system for the MetaCPAN Logo Contest. To find out more
  about the contest, visit its <a href="http://contest.metacpan.org">main
  page</a>. All Logo submissions we received are summarised on this page, but
  also available with more details on our
  <a href="http://entries.contest.metacpan.org/">Logo Entries Blog</a>.</p>

  <p>If you're here to cast your vote, please read on.</p>

  <h2>How to Vote</h2>
  <div class="rules">
    <ul class="rules-list">
      <li>
        Be a MetaCPAN contributor
        <% IF c.user_exists %><span class="mark">&#x2713;</span><% END %>
      </li>
      <li>
        <a href="<% c.uri_for('/login') %>">Log in</a>
        <% IF c.user_exists %><span class="mark">&#x2713;</span><% END %>
      </li>
      <li>Rank the list of logos according to your preferences and click
      the <strong>Vote</strong> button at the end of the page.
        <% IF c.user_exists && !can_vote %><span class="mark">&#x2713;</span><% END %>
        <ul>
          <li>A preference is specified as a positive integer</li>
          <li>A smaller number indicates a higher preference</li>
          <li>You may
            <ul>
              <li>give two logos the same number to indicate you're indifferent
              about them</li>
              <li>use non-consecutive numbers - only the order of candidates
              matter, not the numeric value of your ranking</li>
              <li>keep candidates unranked to indicate that you prefer all
              ranked logos over unranked ones and that you're indifferent about
              all unranked candidates</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <h2>Voting Rules</h2>
  <div class="rules">
    <ul class="rules-list">
      <li>The voting period is open as of now, Friday the 16th, March 2012</li>
      <li>The voting period closes on Friday the 30th of March 2012, 23:00:00
      UTC</li>
      <li>Every MetaCPAN contributor that has made his first contribution before
      Sunday the 12th of March 2012, 00:00:00 UTC, is eligible for voting</li>
      <li>A contributor to MetaCPAN is everyone with at least one commit in
      either the <a href="https://github.com/cpan-api/cpan-api">CPAN-API</a> or
      the <a href="https://github.com/cpan-api/metacpan-web">MetaCPAN-Web</a>
      git repository</li>
      <li>Every contributor gets exactly one vote</li>
      <li>The vote is anonymous. Individual votes will not be published with any
      personal data</li>
      <li>The winner of the vote is determined using
      the <a href="http://en.wikipedia.org/wiki/Schulze_method">Schulze
      Method</a></li>
      <li>The results of the vote will be published early in April</li>
    </ul>
  </div>

</div>

<script type="text/javascript">
$(function () {
  $('input.title-vote, input.vote').change(function () {
    var match = $(this).attr('name').match(/^([\w-]+)[.](\d+)[.]score$/);
    if (!match) { return false; }

    switch(match[1]) {
      case "votes":
        $("#not-votes\\." + match[2] + "\\.score").val( $(this).val() );
        break;
      case "not-votes":
        $("#votes\\." + match[2] + "\\.score").val( $(this).val() );
        break;
    }

    return true;
  }).numeric({
    decimal: false,
    negative: false
  });

  $('.title-vote').blur(function(){
    if ( !$('#reorder').get(0).checked ) {
        return;
    }

    var $entry = $(this).parents('.entry_wrapper');
    var score = $(this).val();
    if ( score == undefined ) { score = 99999; }

    var $entries = $('.entry_wrapper');
    for ( var i = 0; i < $entries.length; i++ ) {
        var $e = $($entries.get(i));
        var s = $e.find('.title-vote').val();
        if ( s == "" ) { s = 99999; };

        if ( score < s ) {
            $e.before($entry);
            return;
        }
    }

  });
});

</script>

<% IF can_vote %>
<div class="options" align="right">
<label for="reorder">reorder entries by rank</label>
<input type="checkbox" id="reorder" checked="checked" />
</div>
<% END %>

<div id="entries">

<% FOREACH entry IN entries %>
<% SET id = loop.index %>
<div class="entry_wrapper" id="entry_<% id %>">
  <h2>
    <% IF can_vote %>
    <input type="text" class="title-vote" id="not-votes.<% id %>.score"
           name="not-votes.<% id %>.score" value="" />
    <% END %>
    <% entry.title %>
    <div style="clear: both"></div>
  </h2>
  <div class="entry">
    <ul>
      <li><a href="<% entry.link %>">View Blog Post</a></li>
    </ul>
    <div class="images">
      <% FOREACH image IN entry.images %>
        <img src="<% image.src %>" height="<% image.height %>" width="<% image.width %>" border="0" />
      <% END %>
    </div>
  </div>
</div>
<% END %>

</div>

<% IF can_vote %>
<h2>Cast your vote!</h2>
  <div class="entry votepoll">

    <form method="post" action="<% c.uri_for('/vote/') %>" id="vote">
      <% FOREACH entry IN entries %>
      <% SET id = loop.index %>
      <div class="vote-entry">
        <input type="hidden" name="votes.<% id %>.title" value="<% entry.title %>" />
        <input type="hidden" name="votes.<% id %>.name" value="<% entry.link %>" />
        <input type="hidden" name="votes.<% id %>.id" value="<% id %>" />
        <input type="text" class="vote" id="votes.<% id %>.score" name="votes.<% id %>.score" value="" />
        <label for="votes.<% id %>.score"><% entry.title %></label>
      </div>
      <% END %>

      <input type="submit" value="Vote" />
    </form>
  </div>
<% END %>
